<template>
  <div class="box">
    <p class="subtitle has-text-centered">Contacts</p>

    <div class="columns">
      <div class="column">
        <span class="icon">
          <i class="fas fa-phone"></i>
        </span>
        <strong>+358451202810</strong>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <span class="icon">
          <i class="fas fa-envelope"></i>
        </span>

        <strong>
          <a href="mailto:aleksander.mazurov@gmail.com">aleksander.mazurov@gmail.com</a>
        </strong>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <span class="icon">
          <i class="fab fa-gitlab"></i>
        </span>
        <strong>
          <a href="https://gitlab.com/remotejob">https://gitlab.com/remotejob</a>
        </strong>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>

        <strong>
          <a href="https://github.com/remotejob">https://github.com/remotejob</a>
        </strong>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Contact",
  data() {
    return {
      isActive: true,
    };
  },

  methods: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
