<template>
  <div class="box">
    <button @click='back' class="delete is-medium is-pulled-right"></button>
    <strong>{{selectedItem.title}}</strong>

    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img :src="`/images/${selectedItem.img} `" />
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <div v-for="item in selectedItem.items" :key="item.id">
            <div class="column">
              <strong>{{item.item}}</strong> &nbsp;
              <span class="icon is-small">
                <i class="fas fa-arrow-right"></i>
              </span>
              <small>&ensp;{{item.duration}} {{getYear(item)}}</small>
            </div>
            <div class="column">
              <small>{{item.extra}}</small>
            </div>
          </div>
        </div>
      </div>
    </article>

  </div>
</template>

<script>
export default {
  name: "Details",
  props: {
    msg: String,
  },
  data() {
    return {
      selectedItem: {},
      pagetitle: null,
    };
  },
  mounted() {
    this.selectedItem = this.$store.getters["getSelectedItem"];
  
  },
  methods: {
    getPic() {
      return "/images/" + this.selectedItem.img;
    },
    getYear(index) {
      var ye = "years";
      if (index.duration == 1) {
        ye = "year";
      }
      return ye;
    },
    back() {
      this.$router.push('/knowlege')
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>