<template>
  <div class="box">
    <div class="columns">
      <div class="column">
        <b-navbar>
          <template slot="start">
            <b-navbar-item tag="router-link" :to="{ path: '/' }">Home</b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/knowlege' }">Knowledge</b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/contact' }">Contact</b-navbar-item>
          </template>
        </b-navbar>
      </div>

      <div class="column">
        <img alt="mazurov" src="@/assets/images/mazurovopt.jpg" />
      </div>
      <div class="column">
        <a href="mazurov_cv.pdf" target="_blank">Download CV.pdf</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Head",
  data() {
    return {
      isActive: true,
    };
  },
 
  methods: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
