<template>
  <div class="box">
    <h1>{{ pagetitle}}</h1>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th><small>Company</small></th>
            <th><small>Duration</small></th>
            <th><small>Position</small></th>
            <th><small>Details</small></th>
            <th><small>Location</small></th>
            <th><small>Country</small></th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="job in jobs.item" :key="job.rank">
            <td><small>{{job.title}}</small></td>
            <td><small>{{job.duration}}</small></td>
            <td><small>{{job.position}}</small></td>
            <td><small>{{job.location}}</small></td>
            <td><small>{{job.details}}</small></td>
            <td><small>{{job.country}}</small></td>
          </tr>
        </tbody>
      </table>
      <!-- </div> -->
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Jobs",
  props: {
    msg: String,
  },
  data() {
    return {
      jobs: {},
      pagetitle: null,
    };
  },
  mounted() {
    var postData = {
      todo: "jobs",
    };

    let axiosConfig = {
      headers: {
        // "Content-Type": "application/json;charset=UTF-8",
        // "Access-Control-Allow-Origin": "*",
        "To-Do": "jobs",
      },
    };

    axios
      // .post("https://cvvuewebgo.vercel.app/api/post", postData, axiosConfig)
      .post(this.$store.state.restserver, postData, axiosConfig)
      .then(
        (res) => (
          (this.jobs = res.data.jobs[0]), (this.pagetitle = res.data.subtitle)
        )
      )

      .catch((err) => {
        console.log("AXIOS ERROR: ", err);
      });
  },
  methods: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>