<template>
  <div class="box">
    <button @click="back" class="delete is-medium is-pulled-right"></button>
    <div v-for="result in results" :key="result.id">
      <br />
      <strong>{{result.title}}</strong>
      <br />
      <br />
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img :src="`/images/${result.img} `" />
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <div v-for="result in result.items" :key="result.id" class="columns">
              <div class="column">
                <strong>{{result.item}}</strong> &nbsp;
                <span class="icon is-small">
                  <i class="fas fa-arrow-right"></i>
                </span>
                <small>&ensp;{{result.duration}} {{getYear(result)}}</small>
              </div>
              <div class="column is-hidden-touch">
                <small>{{result.extra}}</small>
              </div>
            </div>

           
          </div>
        </div>
        <div class="media-right is-hidden-desktop">
          <button @click="details(result)" class="button is-link">
            <span class="icon">
              <i class="fas fa-arrow-right"></i>
            </span>
          </button>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Knowlege",
  props: {
    msg: String,
  },
  data() {
    return {
      results: [],
      pagetitle: null,
    };
  },
  mounted() {
    var postData = {
      todo: "knowlege",
    };

    let axiosConfig = {
      headers: {
        "Content-Type": "application/json;charset=UTF-8",
        "Access-Control-Allow-Origin": "*",
        "To-Do": "knowlege",
      },
    };

    axios
      .post(this.$store.state.restserver, postData, axiosConfig)
      .then((res) => (this.results = res.data))

      .catch((err) => {
        console.log("AXIOS ERROR: ", err);
      });
  },
  methods: {
    getPic(index) {
      return "/images/" + this.results[index.id].img;
    },
    getYear(index) {
      var ye = "years";
      if (index.duration == 1) {
        ye = "year";
      }
      return ye;
    },
    details(index) {
      this.$store.dispatch("setSelectedItem", index);
      this.$router.push("/details");
    },
    back() {
      this.$router.push("/");
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>