<template>
  <div id="app">
    <template>
      <section class="section">
        <div class="container">
        <Head />
        <router-view />
        </div>
      </section>
    </template>
  </div>
</template>

<script>
import Head from "./components/Head.vue";

export default {
  name: "App",
  components: {
    Head,
  },
};
</script>

<style>
#app {
  /* height: 100%;

  background: url("./assets/images/backgroundimg.jpg") no-repeat center center
    fixed;
  background-size: cover; */

  font-family: "Finger Paint", cursive !important;
  text-shadow: 1px 1px 1px #aaa;
  font-size: 100%;
}
</style>
